# AGENT VARIABLES
AGENT_LABEL=odn-agent
AGENT_UUID=f6de6acc-ec5e-434b-9c7c-a69e8145c339
MOTHERSHIP_URL=http://localhost:8080
MOTHERSHIP_AUTH_TOKEN= # if authentication is enabled on the hub

# KUBERNETES VARIABLES
KUBERNETES_VOLUME_TYPE=Block
KUBERNETES_STORAGE_CLASSNAME=sbs-default # for block storage, sbs-default is the one provided by scaleway, for file storage, use sfs-default / standard for minikube
KUBERNETES_URL=http://127.0.0.1:8080
KUBERNETES_TOKEN= #only if no KUBERNETES_TOKEN_PATH
KUBERNETES_MASTER_IP= # for Load Balancer configuration
KUBERNETES_TOKEN_PATH=/var/run/secrets/kubernetes.io/serviceaccount/token
KUBERNETES_CA_CERT_PATH=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt
KUBERNETES_ISTIO_ACTIVATED=false

# KONG / INGRESS VARIABLES
KONG_URL=http://localhost:8001
TLS_ODIN_MONOLITH=odin.example.com

# GENERAL VARS
TZ=Europe/Paris

# REGISTRY VARIABLES
REGISTRY_URL=registry.gitlab.com
REGISTRY_USERNAME=odin
REGISTRY_PASSWORD=odin